.card {
    width: 20vw;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px black;
    border-radius: 25px;
    background-color: #f8c7b7;
    margin: 2rem;
    display: inline-block;
    flex-wrap: wrap;
    min-width: 18vw;
    min-height: 60vh;
    padding: 1rem;
}

.card:hover {
    transition: .5s;
    box-shadow: 0px 0px 40px rgb(197, 73, 88);
}


.titulo {
    font-size:x-large;
    text-align: center;
    margin: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
}

Button.details a {
    margin-top: 0rem;
    color: black;
    font-size: 10px;
    text-decoration: none;
}
.counter {
display: block;

}

.bottomInfo {
    position: relative;
    display: block;
    margin-top: .5rem;
    
}

img.cardImg {
    height: 10rem;
    width: 10rem;
}

div .counter {
    margin-top: 0;
}

button.continuar_compra.MuiButton-root {
    background-color: rgb(142, 186, 223);
    box-shadow: 1px 1px 4px rgb(141, 141, 141);
    color: black;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    text-decoration: none;
}