.card {
    height: 65vh;
    width: 20vw;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px black;
    border-radius: 25px;
    background-color: rgba(16, 245, 138, 0.445);
    margin: 2rem;
    display: inline-block;
    flex-wrap: wrap;
    min-width: 20vw;
    min-height: 65vh;   

}

.card:hover {
    height: 66vh;
    width: 20.5vw;
    transition: 1s;
    box-shadow: 4px 5px 10px black;
}
.card:hover img {
    height: 10.5rem;
    width: 10.5rem;
    transition: 1s;
}

.titulo {
    font-size:x-large;
    text-align: center;
    margin: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
}

Button.details a {
    margin-top: 0rem;
    color: black;
    font-size: 10px;
    text-decoration: none;
}
.counter {
display: block;

}

.bottomInfo {
    position: relative;
    display: block;
    margin-top: .5rem;
    
}

img.cardImg {
    height: 10rem;
    width: 10rem;
}

div .counter {
    margin-top: 0;
}

button.continuar_compra.MuiButton-root {
    background-color: orange;
    box-shadow: 1px 1px 3px gray;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}