
img.cwImg {
        height: 1.5rem;
        width: 1.5rem;
    }

button .MuiAvatar-root {
        background-color: transparent;
    }

.cartProductImg {
    margin: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 25%;
}

div.price {
    margin-left: 10px;
    width: 1rem;
}

div.qty {
    margin-left: 3rem;
    width: 1rem;

}

.contadorWidget {
    color: black;
    font-weight: bold;
    background-color: #84ddc8;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    box-shadow: 2px 3px 4px black;
}