
img.cwImg {
        height: 1.5rem;
        width: 1.5rem;
    }

button .MuiAvatar-root {
        background-color: transparent;
    }

.cartProductImg {
    margin: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 25%;
}

.price {
    margin-left: 10px;
}