.catContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.catContainer a img {
    border: 1px solid black;
    border-radius: 0;
    height: 60vh;
    width: 28vw;
    display: inline-block;
    text-decoration: none;
}

div .ctgryTitle {
    margin-left: 0;
    letter-spacing: 0.5rem;
}