.counterbtnm.MuiButton-root {
    height: 3.5vh;
    background-color: rgb(142, 186, 223);
    color: black;
    margin-left: .9rem;
    box-shadow: 2px 2px 3px black;
}

.counterbtnme.MuiButton-root {
    height: 3.5vh;
    background-color: rgb(142, 186, 223);
    color: black;
    margin-right: .9rem;
    box-shadow: 2px 2px 3px black;
} 

Button.addCart.MuiButton-root {
    display: block;
    margin-top: .4rem;
    color: black ;
    background-color: rgb(142, 186, 223) ;
    box-shadow: 2px 2px 3px black;
}

Button.addCart:hover {
    box-shadow: 2px 2px 3px black;
    /* background-color: rgb(125, 125, 197) !important;
    transition: .5s; */
}

input {
    height: 3.5vh;
    width: 4vw;
    margin: 5px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px black;
    outline: none;
    text-align: center;
}

.stack{
    display: block;
    margin: auto;
}


p.contador{
    display: inline-block;
    width: 2rem;
    height: 1.5rem;
    background-color: white;
    border: 1px solid black;
    margin: 4px;
    text-align: center;
    box-shadow: -1px -1px 2px black;
    font-weight: 500;
}

FinishBtn {
    display: block;
    margin-top: .2rem;
}