.finish a {
    background-color: rgb(119, 201, 119) !important;
    box-shadow: 1px 1px 3px gray;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

