label {
    margin: 1rem;
}
input {
    width: 10rem;
    margin: 1rem;
    position: relative;
    right: 0;
}

form {
    width: 25rem;
    height: 17rem;
    padding: 1rem;
    background-color: #f1a890;
    box-shadow: 2px 3px 10px pink;
}
div label {
    width: 5rem;
    display: inline-block;
}

input::placeholder {
    background-color: #f8bda9;
}

.modal__pay.MuiButton-root {
    margin-top: 1rem;
    margin-left: .5rem;
    background-color: rgb(112, 189, 112);
    box-shadow: 1px 1px 4px rgb(141, 141, 141);
    color: black;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    text-decoration: none;
}

.modal__cancel.MuiButton-root {
    margin-top: 1rem;
    background-color: rgb(255, 41, 41);
    box-shadow: 1px 1px 4px rgb(141, 141, 141);
    color: black;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    text-decoration: none;
}

.modal__cancel.MuiButton-root:hover {
    background-color: rgb(218, 36, 36);
}

.modal__pay.MuiButton-root:hover{
    background-color: rgb(76, 185, 76);
}
