
div header.MuiPaper-root {
    background-color: #e27070;
    height: 18vh;
    width: 100%;
}

.titulo {
    color: black;
    
}

.boton.MuiButton-root a {
  color: black;
  font-weight: bold;
  margin-left:.5rem;
  text-decoration: none;
}

.logo { 
  height: 15vh;
  width: 18vh;
  padding: 0.1rem;
}

