
.navb {
    background-color: rgb(226, 123, 158);
    height: 18vh;
}

.titulo {
    color: black;
    
}

.boton a {
  color: black !important;
  font-weight: bold !important;
  margin-left:.5rem !important;
  text-decoration: none !important;
}

.logo { 
  height: 15vh;
  width: 18vh;
  padding: 0.1rem;
}

