
.navb {
    background-color: palevioletred;
}

.titulo, .boton {
    color: black;
}

.boton {
  color: black !important;
  font-weight: bold !important;
}

  .logo { 
    height: 10rem;
    width: 15rem;
  }