*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

body {
  background-color: pink;
}
.App {
  text-align: center;
}
.borde{
  height:20rem;
  width: 50rem;
  border: 1px solid black;
  background-color: rgb(178, 65, 201);
  display: block;
  margin: auto;
  border-radius: 10%;
}

    .circulo:hover {
    /* translate: 500px;
    transition: 2s; */
    animation-name: slidein;
    animation-duration: 5s;
  }

  @keyframes ancho {
    0% { width:15rem; translate: 100px;}
    0% { width:20rem; translate: 200px;}
    50% { width: 25rem; translate: 300px;}
    50% { width: 2rem; translate: 400px;}
    100% { width: 15rem; translate: 500px;}
  }
  @keyframes slidein {
    25% {
      width: 20rem;
      translate: 150px;
    }
    
    50% {
      width: 25rem;
      translate: 250px;
    }
    75% {
      width: 20rem;
      translate:400px;
    }
    100% {
      width: 15rem;
      translate: 500px;
    }
  }
  

.circulo {
  border: 1px solid rgba(90, 87, 87, 0.781);
  box-shadow: 1px 1px 1px gray;
  background-color: rgb(223, 215, 215);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 2%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes circulo {
  from {
    transform: scale(100px);
  }
  to {
    transform: scale(200px);
  }
}
